{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}form-page{% endblock %}

{% block content %}

<h1>{{ self.title }}</h1>

{% for child in self.content %}
{% include_block child %}
{% endfor %}

{% endblock content %}

{% block extra_js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>
$(document).ready(function () {
    alert("kut");
    function asyncForm(frm) {
     //anything you wanna do before you post
    alert("kut");

     $.post(
            url,
            $('#' + frm).serialize(),
            function (data) {
                result = data;
            }
          )
          .success(function() {
            //add your success proccesses
            console.log("success");
          })
          .complete(function() { 
            console.log("complete");

          })
          .error(function() {
               alert('An error has occurred.');
          });      

     return false;// this stops the form from actually posting
 }
});

</script>
{% endblock %}
