{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}form-page{% endblock %}

{% block content %}

<h1>{{ self.title }}</h1>

{% for child in self.content %}
{% include_block child %}
{% endfor %}

{% endblock content %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $(".ajaxForm").submit(function(event) {
            var form = $(this);
            var url = form.attr('action');

            event.preventDefault();

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function(data) {
                    form.replaceWith(data);
                }
            });

        });
    });
</script>
{% endblock %}
